parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method Barryvdh\\Debugbar\\Facades\\Debugbar\:\:disable\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Extension.php
