parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Barryvdh\\\\Debugbar\\\\Facades\\\\Debugbar\\:\\:disable\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:check\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to static method hasDatabase\\(\\) on an unknown class Igniter\\\\Flame\\\\Support\\\\Facades\\\\Igniter\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Exception\\\\ErrorHandler\\:\\:getDetailedMessage\\(\\)\\.$#"
			count: 1
			path: src/Middleware/Debugbar.php
